html{
    margin:0;
    padding:15px;
    width:100%;
    box-sizing:border-box;
    background-color:red;
}

body{

    margin:0 auto;
    padding:10px;
    width:90%;
    background-color:aquamarine;
    box-sizing:border-box;
    font-size:40px;
}



header{
    margin:0;
    padding:0;
    background-color: olivedrab;
    
    width:90%;
    text-align:center;
    border:solid 5px black;
    
}



main{
    margin:0;
    padding:0;
    width:90%;
    height:800px;
    background-color:lightgray;
    box-sizing:border-box;
    text-align: center;
    
    border:solid 5px black;
   
    
}

#one{
    margin:0;
    padding:15px;
    float:left;
    width:calc(100%/4);
    height:600px;
    background-color:darkblue;
    border:solid 5px black;
}

#two{
    margin:0;
    padding:15px;
    float:left;
    width:calc(100%/4);
    height:600px;
    background-color:blue;
    border:solid 5px black;
}

#three{
    margin:0;
    padding:15px;
    float:left;
    width:calc(100%/4);
    height:1000px;
    background-color: yellow;
    border:dashed 5px black;
}


#four{
    margin:0;
    padding:15px;
    float:right;
    width:calc(100%/4);
    height:600px;
    background-color: purple;
    border:dashed 5px black;
}



footer{

    clear:both;
    text-align:center;
    width:90%;
    background-color: cyan;
    border:solid 5px black;
    
}